{% extends "admin/change_list.html" %}

{% block extrahead %}
{{ block.super }}
<script>
    var admin_ws = admin_ws || new WebSocket('ws://' + window.location.host + '/tasks/');

    admin_ws.onopen = function (event) {
        console.log('WebSocket connection opened:', event);
    };

    admin_ws.onclose = function (event) {
        console.log('WebSocket connection closed:', event);
    };

    admin_ws.onerror = function (event) {
        console.error('WebSocket error:', event);
    };

    admin_ws.onmessage = function (msg_event) {
        console.log('WebSocket message received:', msg_event.data);
        const msg = JSON.parse(msg_event.data);
        const group = msg.type.split('.')[0];
        if (group == 'task') { addTaskAlert(msg.content); };
    };

    function addTaskAlert(alert) {
        var alerts_display = document.getElementById('task-alerts-display');
        var msg_type = alert.status.toLowerCase();
        var alert_template = document.getElementById(`${msg_type}-alert-template`).cloneNode(true).firstElementChild;
        alert_template.getElementsByTagName('pre')[0].innerHTML = JSON.stringify(alert, null, 2);
        alerts_display.appendChild(alert_template)
    };
</script>
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% endblock %}

{% block content %}
{% include "task_alerts.html" %}
{{ block.super }}
{% endblock %}
