<div id="task-msg-{{doctask.pk}}"></div>

<script>
    var admin_ws = admin_ws || new WebSocket('ws://' + window.location.host + '/tasks/');

    admin_ws.onopen = function (event) {
        console.log('WebSocket connection opened at /tasks/');
    };

    admin_ws.onclose = function (event) {
        console.log('WebSocket connection at /tasks/ closed.');
    };

    admin_ws.onerror = function (event) {
        console.error('WebSocket error at /tasks/:', event);
    };

    admin_ws.onmessage = function (event) {
        console.log('WebSocket received: ' + JSON.stringify(event.content));
        const group = event.type.split(".")[0];
        if (group == 'tasks') {
            document.getElementById('task-msg-' + "{{doctask.pk}}").innerHTML = JSON.stringify(event.content);
        }
    }
</script>
