*.pyc
__pycache__

*.egg-info
dist
build
.eggs

.pytest_cache
.coverage
.mypy_cache
.tox
.secrets.ini
.test_token.txt
.test_cookie.txt
version.ini_bk
htmlcov

.DS_Store

bdd_runs.log*
wsgi.log

django_tasks/static/css/bootstrap-isolated.min.css
django_tasks/static/bootstrap
django_tasks/static/admin
django_tasks/static/django_extensions
django_tasks/static/rest_framework

media

sphinx/source/images/pydeps.png
